
form {
	width: 500px;
	margin: auto;
}

input{
	border-radius: 5px;
	border: 2px solid dodgerblue;
}
input, textarea {
	font-family: sans-serif;
	font-size: 13pt;
	background-color: rgba(255,255,255,.8);
}
input:hover, textarea:hover {
	background-color: #dddddd;
}
legend {
	color: #888888;
	font-size: 23px;
	font-weight: bold;
	font-family: sans-serif;
}
fieldset {
	border-color: dodgerblue;
	margin: 20px;
}
fieldset#sexo {
	width: 150px;
}
label{
	color: Black;
	font-size: 20px;
}
#cEnviar{
	font-size: 30px;
	color:White;
	text-shadow: 1px 1px Black;
	background-color: lightGray;	
}
fieldset#usuario{
	background:url("aluno.png");
	background-repeat: no-repeat;
	background-size: 300px 300px;
	background-position: right bottom;
}
#backToTop{
	height: 50px;
	width: 50px;
	margin-left: 860px;
}